.body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("../../public/picture/register.jpg");

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}


