.TopHeader {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 2px solid #ff6700;
}
.TopHeader .CartHeader {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
}
.TopHeader .CartHeader .Logo {
  height: 60px;
  width: 100px;
  margin-top: 22px;
  margin-right: 20px;
}
.TopHeader .CartHeader .Logo img {
  height: 60px;
}
.TopHeader .CartHeader p {
  margin-top: 23px;
  font-size: 28px;
  line-height: 58px;
  float: left;
  font-weight: normal;
  color: #424242;
}
.TopHeader .CartHeader .CartHeaderContent span {
  color: #757575;
  font-size: 12px;
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 48px;
  margin-left: 15px;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin: 27px auto 0;
}
.address .addressItem {
  display: flex;
  flex-direction: column;
  width: 97%;
  margin: 0 auto 27px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  justify-content: space-between;
}
.address .addressItem .itemProfile {
  padding-top: 17px;
  padding-left: 10px;
  font-size: 20px;
}
.address .addressItem .itemProfile .itemTelephone {
  margin-left: 15px;
}
.address .addressItem .itemProfile .itemDelete {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #8498A5;
}
.address .addressItem .itemButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  height: 40px;
}
.address .addressItem .itemButton .default {
  display: flex;
  align-items: center;
}
.address .addressItem .itemButton .default .defaultButton {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.address .addressItem .itemButton .default span {
  margin-left: 10px;
  font-size: 20px;
  color: #8491a5;
}
.address .addressItem .itemButton .selectButton {
  display: flex;
}
.address .addressItem .itemButton .selectButton .copyButton {
  margin-right: 20px;
}
.address .addressItem .itemButton .selectButton .updateButton {
  margin-right: 20px;
}
.address .addressButton {
  width: 87%;
  max-width: 700px;
  margin: 0 auto 27px;
  font-size: 20px;
  height: 57px;
  background-color: #e02e24;
  color: #fff;
  border-radius: 7px;
}
.createAddressInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.createAddressInfo p {
  font-size: 20px;
}
.createAddressInfo .info {
  margin-bottom: 10px;
  display: flex;
  font-size: 17px;
}
.createAddressInfo .info .itemInfo {
  width: 120px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.changeButton {
  width: 60%;
  height: 50px;
  background-color: #e02e24;
  color: #fff;
}
.EmptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.666667rem;
  height: 100%;
}
.EmptyCart .EmptyCartImg {
  height: 5.7rem;
  width: 5.7rem;
}
.EmptyCart .EmptyCartText1 {
  font-size: 1.7rem;
  color: #666;
  padding: 0.7rem 0;
}
.EmptyCart .EmptyCartText2 {
  color: #888;
  font-size: 0.7rem;
  margin-bottom: 0.7rem;
}
.Addresses {
  display: flex;
}
.Addresses .AddressesIn {
  width: 200px;
}
.Telephone {
  display: flex;
}
.DrawerHeader {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-evenly;
}
.DrawerHeader span {
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 3px solid #ccc;
}
/*# sourceMappingURL=index.module.css.map */